<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>productrating</name>
	<displayName><![CDATA[Product Rating]]></displayName>
	<version><![CDATA[0.91]]></version>
	<description><![CDATA[Rating products in AJAX]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[Products]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>